<div class="container-fluid">
  <div style="padding-top: 20px">
    <div class="card card-props round-corners">
      <div class="row">
        <div class="col-6"><img src="assets/me.jpeg" alt="pic of me" class="card-img-top image"></div>
        <div class="col-6">
          <div class="card-body">
            <div class="card-title">
              <h3 class="title">About me</h3>
            </div>
            <p class="card-text para">
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top: 20px">
      <div class="card col-6 series-card">
        <div class="card-title">
          <h3 class="title">Academic experience</h3>
        </div>
        <div class="card-body">
          <ul>
            <li class="item-list"><b>Assistant</b> at Babes-Bolyai University, Faculty of Mathematics and Informatics, Cluj-Napoca </li>
            <li class="item-list"><b>Lecturer</b> at Babes-Bolyai University, Faculty of Mathematics and Informatics, Cluj-Napoca </li>
          </ul>
        </div>
      </div>
      <div class="card col-6 series-card">
        <div class="card-title">
          <h3 class="title">Work experience</h3>
        </div>
        <div class="card-body">
          <ul >
            <li class="item-list"><b>Intership</b> - AirportLabs Summer of 2019</li>
            <li class="item-list"><b>Junior</b> - msg systems Romania 2021-Present</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
