<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <img src="assets/logo_cs.png" class="img-fluid img-size" alt="logo">
    <a class="navbar-brand hidden-mob" href=""><p class="font-monospace position">Tatomir Victor Constantin</p></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link font-monospace links" aria-current="page" href="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active font-monospace links" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active font-monospace links" href="contact">Contact</a>
        </li>
        <li class="nav-item">
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle button-position font-monospace" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Teaching
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="db">Database</a></li>
              <li><a class="dropdown-item" href="adaptive-web">Adaptive web</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
