<div class="container">
    <div class="col-5 move-card">
      <div class="card card-props">
        <div>
          <h3 class="font-monospace"><i class="bi bi-envelope"></i> Email</h3>
          <p>victor.tatomir@stud.ubbcluj.ro</p>
        </div>
        <div>
          <h3 class="font-monospace"><i class="bi bi-building"></i> Office</h3>
          <p>Strada Mihail Kogalniceanu 1, Cluj-Napoca</p>
        </div>
      </div>
    </div>
  <div class="col-5 move-card">
    <div class="card card-props">
      <div class="card-props">
        <label class="form-label" for="textAreaExample"><i class="bi bi-chat-left-text"></i> Leave feedback</label>
        <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
        <div class="move-btn">
          <button class="btn btn-dark">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
