<div class="container">
  <div class="row pt-4">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            Relevant information
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelleadaptive-weby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <ul>
              <li>MSTeams code: <b>dcba</b></li>
              <li>Grading: <ul>
                <li>60% final project</li>
                <li>40% exam</li>
              </ul>
              </li>
              <li>The final project can be held in the last 2 weeks of the semester</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            Courses
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelleadaptive-weby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <div class="container">
              <div class="row align-items-start">
                <div class="col">
                  <a href="adaptive-web">Course 1</a>
                </div>
                <div class="col">
                  <a href="adaptive-web">Course 2</a>
                </div>
                <div class="col">
                  <a href="adaptive-web">Course 3</a>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <a href="adaptive-web">Course 4</a>
                </div>
                <div class="col">
                  <a href="adaptive-web">Course 5</a>
                </div>
                <div class="col">
                  <a href="adaptive-web">Course 6</a>
                </div>
              </div>
              <div class="row align-items-end">
                <div class="col">
                  <a href="adaptive-web">Course 7</a>
                </div>
                <div class="col">
                  <a href="adaptive-web">Course 8</a>
                </div>
                <div class="col">
                  <a href="adaptive-web">Course 9</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            Seminars
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelleadaptive-weby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <div class="container">
              <div class="row align-items-start">
                <div class="col">
                  <a href="adaptive-web">Seminar 1</a>
                </div>
                <div class="col">
                  <a href="adaptive-web">Seminar 2</a>
                </div>
                <div class="col">
                  <a href="adaptive-web">Seminar 3</a>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <a href="adaptive-web">Seminar 4</a>
                </div>
                <div class="col">
                  <a href="adaptive-web">Seminar 5</a>
                </div>
                <div class="col">
                  <a href="adaptive-web">Seminar 6</a>
                </div>
              </div>
              <div class="row align-items-end">
                <div class="col">
                  <a href="adaptive-web">Seminar 7</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
