@import "~bootstrap-icons/font/bootstrap-icons.css";


.color-bg {
  background-color: #586f7c;
}

.round-corners {
  border-radius: 2%;
}

.accordion-button {
  background: #9bbbbf
}

.accordion-body {
  background: #b5d7dc
}

.accordion-button {
  background: #9bbbbf
}

