<div class="container">
  <h1 class="title">Welcome to Tatomir Victor website</h1>
  <div class="row row-adjust">
    <div class="col-12">
      <div class="card card-props">
        <div class="card-title align-self-center"><h2 class="font-monospace">Announcements</h2></div>
        <div class="card-text">
          <p class="font-monospace para">
            Due to pandemic restrictions classes will be held online, to patricipate to classes on MSTeams the code can be found in the teaching section under the appropriate course
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
